[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=2.3"
psycopg2 = "~=2.8"
gunicorn = "~=20.0"
flask-cors = "~=3.0"

[dev-packages]
pycodestyle = "~=2.6"
pytest = "~=6.2"

[requires]
python_version = "3.9"
